/* Global rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: yellow;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#app {
    height: 100vh;
}

.overlay {
    height: 100vh;
    width: 100vw;
    background-color: #ffffe017;
    display: none;
}