/* Global rules */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Azeret Mono', monospace;
}

body {
    background-color: lavender;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Topbar rules */
#topbar {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: lightgrey;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
}

.window-control {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    transition: background-color 0.25s;
    -webkit-app-region: no-drag;
}

.window-control:hover {
    background-color: darkgrey;
}

.window-control img {
    width: 32px;
    height: 32px;
}

/* Title screen rules */
.mode-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.help {
    width: 50%;
    margin-bottom: 20px;
}

.mode-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mode-button {
    background-color: #74f487;
    font-size: 25px;
    font-weight: bold;
    color: black;
    padding: 10px 20px;
    border-radius: 7px;
    border: 0;
    transition: transform 0.25s;
    cursor: pointer;
    margin: 0 20px;
}
.mode-button:hover {
    transform: scale(1.1);
}

/* Mode management rules */
.container.classic,
.container.reversed {
    display: none;
}

/* Game content rules */
.back {
    color: green;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 10px;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: #f1f1fd;
    opacity: 0.75;
    display: none;
}

#game-content {
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
}

.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 60px;
}

.heading-container > a {
    margin-right: 40px;
    transition: transform 0.25s;
}

.heading-container > a:hover {
    transform: scale(1.1);
}

.heading {
    padding: 40px 0;
    font-size: 40px;
    text-align: center;
}

.feedback {
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
    font-size: 30px;
}

.user-number {
    text-align: center;
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.user-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    height: 64px;
    width: 64px;
    border-radius: 7px;
    border: 0;
    color: white;
    background-color: #750075c2;
    font-size: 25px;
    transition: background-color 0.25s;
    cursor: pointer;
}

.user-button:hover {
    background-color: #330033c2;
}

/* Difficulty setting rules */
.difficulty-button {
    margin-left: auto;
    color: white;
    padding: 10px 20px;
    border-radius: 7px;
    border: 0;
    margin-top: 40px;
    transition: transform 0.25s;
    cursor: pointer;
}
.difficulty-button:hover {
    transform: scale(1.1);
}

#hard {
    display: block;
    background-color: red;
}
#hard:hover {
    background-color: brown;
}

#normal {
    display: none;
    background-color: green;
}
#normal:hover {
    background-color: darkgreen;
}