/* Global rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: yellow;
    position: relative;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100vw;
    background-color: #ffffffd7;
    opacity: 0.5;
    display: none;
}

.heading {
    padding: 40px 0;
    color: red;
    font-size: 40px;
    text-align: center;
}

.feedback {
    text-align: center;
    color: red;
    font-weight: bold;
    margin: 20px 0;
    font-size: 30px;
}

.user-number {
    text-align: center;
    color: red;
    font-size: 25px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.user-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 64px;
    width: 64px;
    border-radius: 7px;
    border: 0;
    background-color: pink;
    font-size: 25px;
    transition: 0.25s;
    cursor: pointer;
}

.user-button:hover {
    background-color: palevioletred;
}

.hard-mode {
    display: block;
    margin-left: auto;
    color: white;
    padding: 10px 20px;
    border-radius: 7px;
    border: 0;
    background-color: red;
    margin-top: 40px;
    transition: 0.25s;
    cursor: pointer;
}

.hard-mode:hover {
    background-color: brown;
}

.normal-mode {
    display: none;
    margin-left: auto;
    color: white;
    padding: 10px 20px;
    border-radius: 7px;
    border: 0;
    background-color: green;
    margin-top: 40px;
    transition: 0.25s;
    cursor: pointer;
}

.normal-mode:hover {
    background-color: darkgreen;
}