/* Global rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: yellow;
    position: relative;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#app {
    height: 100vh;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    background-color: #ffffffd7;
    opacity: 0.5;
    display: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.user-button {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 7px;
    border: 0;
    background-color: pink;
    transition: 0.2s;
    cursor: pointer;
}

.user-button:hover {
    background-color: palevioletred;
}