/* Reversed mode rules */
.container.reversed > h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.feedback-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.feedback-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 7px;
    border: 0;
    color: white;
    background-color: #750075c2;
    font-size: 25px;
    transition: background-color 0.25s, transform 0.25s;
    cursor: pointer;
}

.feedback-button:hover {
    transform: scale(1.1);
    background-color: #330033c2;
}

.computer-number {
    text-align: center;
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.controls button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 7px;
    border: 0;
    color: black;
    font-weight: bold;
    background-color: #74f487;
    font-size: 25px;
    transition: background-color 0.25s, transform 0.25s;
    cursor: pointer;
}
.controls button:hover {
    background-color: #5fc36e;
    transform: scale(1.1);
}